APP_PORT={{project_port}}
APP_ENV=production
LOGINS=1000

TYPEORM_CONNECTION=mysql
TYPEORM_DATABASE=sal
TYPEORM_HOST=localhost
TYPEORM_USERNAME={{db_user}}
TYPEORM_PASSWORD={{db_password}}
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true

API_HOST=http://localhost:3000
FRONT_HOST=FRONT_HOST=
