# # AWS ubuntu linux servers
# [tech_hive_ubuntu]
# techhive-ubuntu-2 ansible_host=15.188.3.194

# [tech_hive_ubuntu:vars]
# ansible_user=ubuntu

# # - - - - - - - - - - - - - - - - - - -

# # AWS aws linux servers
# [tech_hive_aws]
# techhive-aws ansible_host=15.188.50.220


# [tech_hive_aws:vars]
# ansible_user=ec2-user

# - - - - - - - - - - - - - - - - - - -

# Tetsing Contabo Server ( CentOS )
[contabo_server]
contabo ansible_host=93.104.211.71

[contabo_server:vars]
ansible_user=root
